@charset "UTF-8";

body {
	background-color: #000;
	margin: 0px auto;	
	width: 940px;	
	color: #fff;
	font-family: Cooper, Helvetica, sans-serif;	
}

header {
	padding: 10px;
	margin-bottom: 20px;
	height: 200px;
	background-color: #fff;
	color: #fff;	
	border-radius: 10px 10px 0 0;
}

img{
	width: 60%;
	margin-left: 18%;
}

#conteudo {
	background-color: #fff;
	padding: 10px 10px;
	font-size: 14px;
	font-family: Cooper, Helvetica, sans-serif;	
	color: #000;
	text-align: center;
	border-radius: 0 0 10px 10px;
}

#menu{
	font-family: Cooper, Helvetica, sans-serif;	
	margin-top: -20px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}